@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Actay";
  src: url("../public/ActayWide-Bold.otf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(111.07deg, #2F2F2F 1.67%, #161616 93.78%);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    margin: 0;
    padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hljs-string {
  color: #007700 !important;
}

.hljs {
  background-color: rgb(31 41 55 / 1) !important;
  color: #fefefe !important;
}
.hljs-keyword {
  color: #aa0000 !important;
}
